{% extends "baseTemplate.twig" %}

{% block content %}

{% if responseMessage %}
<div class="alert alert-danger my-4 text-center" role="alert">
    {{ responseMessage }}
</div>
{% endif %}

<form action="edit" method="post" enctype="multipart/form-data">
    <label for="">Serial: </label>
    <input type="text" name="ticketId" value="{{ ticket.id }}" disabled><br>
    <label for="">Evento: </label>
    <select name="eventId">
        {% for event in events %}
        <option value="{{ event.id }}">{{ event.eventName }}</option>
        {% endfor %}
    </select><br><br>
    <label for="">Asiento: </label>
    <select name="ticketLocation">
        {% for stand in stands %}
        <option value="{{ stand }}">{{ stand }}</option>
        {% endfor %}
    </select><br><br>
    <button type="submit">Enviar</button><br>
    <button><a href="../home/admin">Volver</button>
</form>

{% endblock %}