{% extends "baseTemplate.twig" %}

{% block content %}

<h1>Tickera.com </h1><br>

<h3>Bienvenido {{ username }}</h3><br>
<button><a href="/logout">Cerrar sesion</a></button><br>
<h4>Registro de asistencia</h4> <br>

<table>
    <tr>Nombre | Apellido | Cédula | Nombre del evento | Ubicacion | Ver | Editar | Borrar </tr><br>
    {% for userTicket in ticketsInfo %}
    <tr>{{ userTicket.user.firstName }} | {{ userTicket.user.lastName }} 
        | {{ userTicket.user.countryId }} | {{ userTicket.event.eventName }} 
        | {{ userTicket.ticket.ticketLocation }} | 
        <form action="admin" method="post">
            <input type="text" name="ticketIdShow" id="" value="{{ userTicket.ticket.id }}" hidden>
            <button type="submit">Ver</button>
        </form> | 
        <form action="admin" method="post">
            <input type="text" name="ticketIdEdit" id="" value="{{ userTicket.ticket.id }}" hidden>
            <button type="submit">Editar</button>
        </form> | 
        <form action="admin" method="post">
            <input type="text" name="ticketIdDelete" id="" value="{{ userTicket.ticket.id }}" hidden>
            <button type="submit">Borrar</button>
        </form>
    </tr><br>
    {% endfor %}
</table>

{% endblock %}