{% extends "baseTemplate.twig" %}

{% block content %}

<h1>Tickera.com </h1><br>

<h3>Información del registro </h3>

<h4>Usuario: </h4><br>
<ul>
    <li>Nombre completo: {{ userTicket.user.fullName() }}</li>
    <li>Cedula: {{ userTicket.user.countryId }}</li>
    <li>Direccion: {{ userTicket.user.address }}</li>
    <li>G&eacute;nero: {{ userTicket.user.gender }}</li>
    <li>Celular: {{ userTicket.user.phoneNumber }}</li>
    <li>E-mail: {{ userTicket.user.email }}</li>
    <li>Nombre de usuario: {{ userTicket.user.username }}</li>
</ul><br>
<h4>Evento: </h4><br>
<ul>
    <li>Nombre del evento: {{ userTicket.event.eventName }}</li>
    <li>Fecha: {{ userTicket.event.eventDate }}</li>
    <li>Asientos Platino disponibles: {{ userTicket.event.platinumsAvailable }}</li>
    <li>Asientos VIP disponibles: {{ userTicket.event.vipsAvailable }}</li>
    <li>Asientos Altos disponibles: {{ userTicket.event.highsAvailable }}</li>
    <li>Asientos Medios disponibles: {{ userTicket.event.mediumAvailable }}</li>
</ul><br>
<h4>Ticket: </h4><br>
<ul>
    <li>Asiento de {{ userTicket.user.username }}: {{ userTicket.ticket.ticketLocation }}</li>
</ul><br>

{% endblock %}